@font-face {
    font-family: 'Spongeboy';
    src: url('./Spongeboy\ Me\ Bob.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --vermelho: #ff343e;
    --azul: #1e90ff;
    --amarelo: #FFAB1F;
    --neutralColor: 
}

body {
    background: url('./img/spongeBOB_fundo.webp');
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--amarelo);
    display: flex;
    padding: 0 32px;
    align-items: center;
}

#image-logo {
    width: 80px;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    gap: 16px;
    color: var(--vermelho);
    font-weight: bolder;
    font-family: 'Spongeboy', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

/* Corrigindo as regras de transição */
.navbar-nav li {
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    text-shadow:
        1px 0px 1px #000000,
        0px 1px 1px #222222,
        2px 1px 1px #000000,
        1px 2px 1px #222222,
        3px 2px 1px #000000,
        2px 3px 1px #222222,
        4px 3px 1px #000000,
        3px 4px 1px #222222,
        5px 4px 1px #000000,
        4px 5px 1px #222222,
        6px 5px 1px #000000,
        5px 6px 1px #222222,
        7px 6px 1px #000000;
}

.navbar-nav li a {
    color: var(--vermelho);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;
}

/* Corrigindo os seletores para os efeitos de hover */
.navbar-nav li:hover,
.navbar-nav li a:hover {
    color: var(--vermelho);
    transform: scale(1.1);
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.511);
    z-index: 1;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--amarelo);
    font-family: 'Spongeboy', sans-serif;
    font-size: 48px;
    text-align: center;
    z-index: 2;
    text-shadow: 2px 2px 4px #000000;
}
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#image-banner {
    width: 100%;
    object-fit: cover;
}
.container-restaurant {
    display: flex;
    justify-content: space-around;
    padding: 62px;
    background-color: #69b6ff;
}
.container-restaurant p {
    color: var(--amarelo);
    font-family: 'Spongeboy', sans-serif;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.restaurant-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Media queries */
@media only screen and (max-width: 1279px) {}

@media only screen and (max-width: 769px) {}

@media only screen and (max-width: 480px) {}