.items-menu{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 32px 0;
    flex-wrap: wrap;
}
.carrinho-modal{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.carrinho-content{
    position: relative;
    background-color: aliceblue;
    width: 300px;
    left: 45%;
    top: 45%;
    padding: 16px;
}