
.nav-item {
    display: flex;
    list-style: none;
    gap: 16px;
    color: var(--vermelho)!important;
    font-weight: bolder;
    font-family: 'Spongeboy', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.items-menu {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 32px;
    flex-wrap: wrap;
}

.carrinho-modal {
    position: fixed;
    display: none;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.carrinho-content {
    position: fixed;
    background-color: aliceblue;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 18px;
    font-weight: bolder;
}

.fechar {
    background-color: var(--vermelho);
    padding: 5px 8px;
    border-radius: 8px;
    color: whitesmoke;
    position: absolute;
    right: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.fechar:hover {
    transform: scale(1.1);
    opacity: 0.8;
}